<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Assets</string>
		<string>Mesh</string>
		<string>OBJ</string>
	</array>
	<key>Created</key>
	<string>2015-02-27 12:28:25 +0000</string>
	<key>Description</key>
	<string>No description available</string>
	<key>Icon</key>
	<string>Icon.png</string>
</dict>
</plist>
